html,
body {
  float: left;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
section {
  float: left;
  width: 100%;
}
.center {
  position: relative;
  float: none;
  width: 100%;
  max-width: 840px;
  margin-left: auto;
  margin-right: auto;
}
#info {
  margin-top: 20px;
}
#info h1 {
  float: right;
  width: 45%;
  margin-bottom: 19px;
  font-family: 'Oswald', sans-serif;
  color: #2c303d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.23px;
}
#info .photo {
  float: left;
  width: 47.4%;
}
#info .photo img {
  width: 100%;
}
#info .info {
  float: right;
  width: 45%;
}
#info .info .item {
  float: left;
  width: 100%;
  margin-bottom: 25px;
  color: #2c303d;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
#info .info .price {
  float: left;
  width: 100%;
  margin-bottom: 22px;
}
#info .info .price span {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
#info .info .price span:before {
  display: inline-block;
  content: '$';
}
#info .info .price .old {
  color: #2c303d;
  text-decoration: line-through;
}
#info .info .price .old:before {
  text-decoration: line-through;
}
#info .info .price .new {
  margin-left: 20px;
  color: #ce2c52;
}
#info .info .rating {
  float: left;
}
#info .info .rating .stars {
  float: left;
  width: 100%;
}
#info .info .rating .stars .star {
  float: left;
  width: 18px;
  height: 18px;
  margin-right: 1px;
  background-image: url(../image/star.png);
  background-repeat: no-repeat;
}
#info .info .rating .stars .star:last-child {
  margin-right: 0;
}
#info .info .rating .stars .hover,
#info .info .rating .stars .selected {
  background-image: url(../image/star_active.png);
  background-repeat: no-repeat;
}
#info .info .share {
  position: relative;
  float: left;
  margin-left: 16px;
}
#info .info .share .text {
  color: #2c87ce;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.45px;
  text-decoration: none;
}
#info .info .share .hover {
  position: absolute;
  top: 35px;
  left: -107px;
  display: none;
  width: 290px;
  padding: 20px 18px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
#info .info .share .hover:before {
  position: absolute;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  content: '';
  width: 21px;
  height: 10px;
  background-image: url(../image/arrow-top.png);
  background-repeat: no-repeat;
}
#info .info .share .hover a {
  float: left;
  display: block;
  width: 41px;
  height: 41px;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
#info .info .share .hover .facebook {
  background-image: url(../image/facebook.png);
}
#info .info .share .hover .twitter {
  background-image: url(../image/twitter.png);
}
#info .info .share .hover .pinterest {
  background-image: url(../image/pinterest.png);
}
#info .info .share .hover .youtube {
  background-image: url(../image/youtube.png);
}
#info .info .share .hover .close {
  margin-right: 0;
  background-image: url(../image/close.png);
}
#info .info .detail {
  float: left;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 22px;
  color: #282828;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 0.3px;
}
#info .info form {
  float: left;
  width: 100%;
}
#info .info form div {
  float: left;
  width: 100%;
}
#info .info form div span {
  float: left;
  display: block;
  margin-right: 30px;
  color: #2c303d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}
#info .info form div .hide {
  display: none;
}
#info .info form div label {
  position: relative;
  top: -13px;
  left: 0px;
  float: left;
  display: block;
  width: 38px;
  height: 38px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  border: 1px solid #cccccc;
  background-color: #fff;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
#info .info form div label:after {
  content: '';
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
}
#info .info form div label:hover:after {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}
#info .info form div input[type=radio] {
  display: none;
}
#info .info form div input[type=radio]:checked + label:after {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}
#info .info form .color {
  margin-top: 15px;
}
#info .info form .color span {
  margin-right: 10px;
}
#info .info form .color label {
  border: none;
}
#info .info form .color label:after {
  top: 0px;
  left: 0px;
}
#info .info form .color input#blue + label {
  background-color: #77d8e7;
}
#info .info form .color input#green + label {
  background-color: #96c795;
}
#info .info form .color input#red + label {
  background-color: #ce92a1;
}
#info .info form .color input#purple + label {
  background-color: #aa93cf;
}
#info .info form button {
  display: block;
  width: 214px;
  height: 44px;
  border: none;
  border-radius: 50px;
  background-color: #8ae6cf;
  color: #2c303d;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.25px;
  cursor: pointer;
}
#also {
  padding-top: 65px;
  padding-bottom: 40px;
}
#also h2 {
  float: left;
  width: 100%;
  color: #2c303d;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.65px;
}
#also ul {
  float: left;
  width: 100%;
  margin-top: 20px;
}
#also ul li {
  float: left;
  width: 31.6%;
  margin-right: 2.5%;
  margin-bottom: 25px;
}
#also ul li:nth-child(3n+3) {
  margin-right: 0;
}
#also ul li:hover .photo img {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}
#also ul li a {
  float: left;
  width: 100%;
}
#also ul li .photo {
  position: relative;
  float: left;
  width: 100%;
}
#also ul li .photo img {
  width: 100%;
}
#also ul li .photo .price {
  position: absolute;
  bottom: 22px;
  right: 0px;
  display: block;
  padding: 4px 10px;
  background-color: #8ae6cf;
}
#also ul li .photo .price span {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
#also ul li .photo .price span:before {
  display: inline-block;
  content: '$';
}
#also ul li .photo .price .old {
  color: #2c303d;
  text-decoration: line-through;
}
#also ul li .photo .price .old:before {
  text-decoration: line-through;
}
#also ul li .photo .price .new {
  margin-left: 20px;
  color: #ce2c52;
}
#also ul li .photo .price .curent {
  color: #2c303d;
}
#also ul li .text {
  float: left;
  width: 100%;
  margin-top: 14px;
  color: #282828;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
}
#also ul .active .photo img {
  -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.5);
}
@media (max-width: 870px) {
  section {
    padding-left: 15px;
    padding-right: 15px;
  }
  #info .center {
    z-index: 5;
  }
  #info .center h1 {
    width: 100%;
  }
  #info .center .photo {
    width: 52%;
  }
  #info .center .info .item {
    font-size: 11px;
  }
  #info .center .info .price span {
    font-size: 36px;
  }
  #info .center .info .share {
    position: absolute;
    top: 59px;
    left: 0px;
    z-index: 10;
  }
  #info .center .info .share .text {
    display: none;
  }
  #info .center .info .share .hover {
    top: 0px;
    left: 0px;
    display: block;
    width: 41px;
    padding: 0px;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #info .center .info .share .hover:before {
    display: none;
  }
  #info .center .info .share .hover a {
    margin-right: 0;
    margin-bottom: 10px;
  }
  #info .center .info .share .hover .close {
    display: none;
  }
  #info .center .info .detail {
    margin-bottom: 33px;
  }
  #info .center .info form .color {
    margin-bottom: 20px;
  }
  #info .center .info form button {
    width: 222px;
    font-size: 18px;
  }
  #also .center h2 {
    text-align: center;
  }
  #also .center ul {
    margin-top: 30px;
  }
  #also .center ul li {
    width: 48%;
    margin-right: 4%;
    margin-bottom: 30px;
  }
  #also .center ul li:nth-child(2n+2) {
    margin-right: 0;
  }
  #also .center ul li .photo .price {
    width: 100%;
    bottom: 2px;
    text-align: center;
    opacity: 0.8;
  }
  #also .center ul li .photo .price span {
    margin: 0px;
    font-size: 22px;
  }
  #also .center ul li .photo .price .old {
    display: none !important;
  }
}
@media (max-width: 640px) {
  #info .center .photo {
    width: 47%;
  }
  #info .center .info {
    width: 50%;
  }
}
@media (max-width: 570px) {
  #info .center h1 {
    padding-left: 35px;
    padding-right: 35px;
  }
  #info .center .photo {
    width: 100%;
    margin-bottom: 20px;
  }
  #info .center .info {
    width: 100%;
  }
  #info .center .info .item {
    margin-bottom: 18px;
  }
  #info .center .info .price {
    margin-bottom: 13px;
  }
  #info .center .info .rating {
    margin-bottom: 30px;
  }
  #info .center .info .share {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    margin-left: 0px;
  }
  #info .center .info .share .hover {
    position: relative;
    width: 100%;
  }
  #info .center .info .share .hover a {
    margin-right: 12px;
    margin-bottom: 0;
  }
  #info .center .info .detail {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #info .center .info form div span {
    display: none;
  }
  #info .center .info form div .hide {
    display: block;
    width: 100%;
  }
  #info .center .info form div label {
    top: 0px;
    left: 0px;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 12px;
  }
  #info .center .info form .color {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  #info .center .info form .color label {
    margin-right: 8px;
  }
  #info .center .info form button {
    width: 280px;
    margin-left: auto;
    margin-right: auto;
  }
  #also {
    padding-top: 44px;
  }
  #also .center {
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
  #also .center ul {
    position: relative;
    width: calc(600%);
    margin-top: 22px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
    -o-transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
    transition-timing-function: cubic-bezier(0.67, 0.01, 0.23, 1);
  }
  #also .center ul li {
    width: calc(16.66666667%);
    list-style: none;
    display: inline;
    float: left;
    margin-right: 0px;
    margin-bottom: 0;
    padding-left: 2%;
    padding-right: 2%;
  }
  #also .center ul li:hover {
    cursor: default;
  }
  #also .center ul li:hover .photo img {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #also .center ul .active .photo img {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #also .center #prev-next-btns #prev-btn,
  #also .center #prev-next-btns #next-btn {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 29px;
    height: 50px;
    cursor: pointer;
  }
  #also .center #prev-next-btns #next-btn {
    right: 0px;
    background-image: url(../image/left.png);
    background-repeat: no-repeat;
    -webkit-transform: rotate(180deg) translateY(50%);
    -ms-transform: rotate(180deg) translateY(50%);
    -o-transform: rotate(180deg) translateY(50%);
    transform: rotate(180deg) translateY(50%);
  }
  #also .center #prev-next-btns #prev-btn {
    left: 0px;
    background-image: url(../image/left.png);
    background-repeat: no-repeat;
  }
}
